#viewportContainer {
    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 1;
}

@keyframes popInViewport {
    0% {
        transform: translateY(100vh) scale(0.5);
    }

    50% {
        transform: scale(0.5);
    }
}

@keyframes popOutViewport {
    100% {
        transform: scale(0.3);
    }
}

.viewport {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: var(--backgroundColor);

    animation-duration: 0.5s;
}

.viewport.popIn {
    animation-name: popInViewport;
    z-index: 2;
}

.viewport.popOut {
    animation-name: popOutViewport;
    z-index: 1;
}

#mediaController {
    display: none;
}

#sliderContainer {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#controlsContainer {
    position: absolute;
    left: -55.5vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 95vh;
    width: 95vh;
}

#controlsContainer > div {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;

    height: 100%;
    width: 60px;

    transform-origin: center center;
}

.slider {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 30px var(--themeColor), inset 0 0 10px black;
    border-radius: 50%;
    border: 8px solid var(--secondaryColor);
    background-color: var(--tertiaryColor);
}

.slider>div {
    position: absolute;
    bottom: 0;

    box-sizing: content-box;

    width: 0;
    height: 0;

    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid var(--secondaryColor);
}

#seekSlider {
    left: -45vh;

    height: 70vh;
    width: 70vh;

    transform: rotate(196.5deg);
}

.playTimeDisplay {
    position: absolute;
    left: 15px;

    font-family: "Digital";
    color: var(--themeColor);
}

#volumeSlider {
    bottom: -10vh;
    right: -5vh;
    
    height: 30vh;
    width: 30vh;

    transform: rotate(70.5deg);
}

#displayContainer {
    position: absolute;
    bottom: 55vh;
    right: -160px;

    width: 60vh;

    transform: rotate(-90deg);
}

#displayContainer > p {
    text-align: left;
}

#playlistDisplay {
    color: var(--themeColor);
}

#titleDisplay {
    font-size: 200%;
    color: var(--secondaryColor);
}

#artistDisplay {
    color: var(--negativeColor);
}

#playlistExplorerViewport {
    display: flex;
    align-items: flex-start;
    overflow: auto;

    padding: 50px 0 180px 0;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    scroll-snap-type: x mandatory;
}

.playlistView {
    display: flex;

    height: 100%;
    min-width: 100%;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.playlistView>.titleContainer {
    min-width: 120px;
    height: 100%;
    padding: 0 20px 0 20px;
}

.playlistView>.titleContainer>h1 {
    writing-mode: vertical-lr;
    
    transform: rotate(180deg);
}

.trackViewContainer {
    overflow: auto;

    height: 100%;
    width: 100%;
}

#navigationControl {
    position: absolute;
    bottom: 90px;
    left: 120px;

    z-index: 2;
}

#panelContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);

    z-index: 3;
}

#panelContainer.popIn {
    visibility: visible;
}

#panelContainer.popOut {
    visibility: hidden;
}

@keyframes popInPanel {
    0% {
        opacity: 0;
    }
}

@keyframes popOutPanel {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.panel {
    position: absolute;

    width: 80%;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.panel.popIn {
    animation-name: popInPanel;
}

.panel.popOut {
    animation-name: popOutPanel;
}

#overlayContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);

    z-index: 4;
}

@media (orientation: landscape) {
    #controlsContainer {
        left: auto;
    }

    #seekSlider {
        left: auto;

        height: 60vh;
        width: 60vh;
    }

    .playTimeDisplay {
        left: auto;
    }

    #volumeSlider {
        bottom: auto;
        right: 100px;

        height: 25vh;
        width: 25vh;
    }

    #displayContainer {
        position: absolute;
        bottom: auto;
        right: auto;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        width: 30%;
    
        transform: rotate(0deg);
    }
    
    #displayContainer > p {
        text-align: right;
    }

    #playlistExplorerViewport::-webkit-scrollbar {
        display: initial;
    }

    .playlistView {
        min-width: calc(100%/3);
    }
}