@font-face {
    font-family: "SourceSansPro";
    src: url("../../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Digital";
    src: url("../../fonts/Digital\ Font.ttf");
}

:root {
    --themeColor: darkcyan;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: black;
        --primaryColor: black;
        --negativeColor: white;
        --secondaryColor: rgb(100, 100, 100);
        --tertiaryColor: rgb(20, 20, 20);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: white;
        --primaryColor: white;
        --negativeColor: black;
        --secondaryColor: rgb(140, 140, 140);
        --tertiaryColor: rgb(225, 225, 225);
    }

    img {
        filter: invert();
    }
}

* {
    /* border: thin solid red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: "SourceSansPro";
    font-size: 16px;
    color: var(--negativeColor);
    cursor: default;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;

    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--negativeColor);
}

body {
    height: 100%;
    width: 100%;
}

.titleContainer {
    padding: 20px 0 20px 0;
}

.titleContainer > h1 {
    width: 100%;

    font-size: 300%;
    color: var(--themeColor);
}

.button.text {
    display: block;

    margin: 0 0 20px 0;
    padding: 10px;

    font-weight: bold;
    font-size: 130%;
    text-align: left;
    color: black;

    border: none;
    outline: none;
    background-color: var(--themeColor);
}

.button.text.close {
    background-color: var(--secondaryColor);
}

.button.glyph {
    height: 60px;
    width: 60px;
    
    background-color: var(--tertiaryColor);
    box-shadow: 0 0 10px var(--themeColor);
    border: solid var(--secondaryColor);
    border-width: 2px 2px 2px 2px;
    border-radius: 50%;
    outline: none;
    
    transform-origin: center center;
}

.button.glyph.active {
    box-shadow: 0 0 10px var(--themeColor), inset 0 0 10px var(--negativeColor);
}

.button.glyph > img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.input.text {
    margin: 0 0 20px 0;
    padding: 10px;

    background-color: var(--backgroundColor);
    border: 5px solid var(--themeColor);
    outline: none;

    color: var(--negativeColor);
}