* {
    /* border: thin solid red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Ubuntu", "Segoe UI Light";
    color: black;
    overflow: hidden;
    -webkit-user-select: none;
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: rgba(255, 255, 255, 0.5);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding: 20px;

    background-image: url("/musix/images/musix/background_playlistEditor.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#playlistViewContainer {
    display: flex;
    align-items: flex-start;
    overflow: auto;

    height: 100%;
    width: 100%;
}

.playlistView {
    height: 100%;
    min-width: 15vw;
}

.playlistInputContainer {
    width: 100%;
    height: 10%;
}

.input {
    padding: 0 0 0 10px;
    width: 100%;

    border: none;
    outline: none;
    background-color: transparent;

    color: white;
    text-overflow: ellipsis;
}

.trackViewContainer {
    overflow-y: auto;

    width: 100%;
    height: 90%;
}

.trackViewContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.trackView {
    width: 100%;
    padding: 10px;

    transition: transform 0.3s;
}

.trackView:hover {
    transform: scale(1.1);
}

.trackView > span {
    display: inline-block;
    padding: 5px;

    background-color: black;
}

#controlsContainer {
    position: absolute;
    bottom: 50px;
    right: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 40vw;
    padding: 10px;

    background-color: rgba(0,0,0,0.5);
    border: 3px solid white;
    border-radius: 10px;
}

#controlsContainer>span {
    color: white;
    font-weight: bolder;
    font-size: 150%;
    text-align: justify;
    
    width: 150px;
}

#submitButton {
    height: 60px;
    width: 60px;

    border-radius: 50%;
}