<!DOCTYPE html>
<html lang="en">

<head>
    <title>Playlist Editor</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/musix/stylesheets/musix/playlistEditor.css">
    <link rel="icon" type="image/png" href="/musix/images/musix/launcher_192.png">

    <script>
        //@ts-check
        function main() {
            const templateContainerFragment = document.getElementById("templateContainer").content;
            const playlistViewTemplate = templateContainerFragment.querySelector(".playlistView");
            const trackViewTemplate = templateContainerFragment.querySelector(".trackView");
            const audioController = document.querySelector("audio");

            fetch("/musix/playlists")
                .then(response => response.json())
                .then(response => {
                    let trackViewIdCounter = 0;

                    const playlistViewContainerFragment = new DocumentFragment();

                    for (const playlist of response.data) {
                        const playlistView = playlistViewTemplate.cloneNode(true);
                        playlistView.dataset.name = playlist.name;
                        playlistView.dataset.themeColor = playlist.themeColor;

                        const playlistInputs = playlistView.querySelectorAll("input");
                        playlistInputs[0].value = playlist.name;
                        playlistInputs[0].addEventListener("keyup", () => {
                            playlistView.dataset.name = playlistInputs[0].value;
                        });

                        playlistInputs[1].value = playlist.themeColor;
                        playlistInputs[1].addEventListener("keyup", () => {
                            playlistView.dataset.themeColor = playlistInputs[1].value;
                        });

                        for (const track of playlist.tracks) {
                            const trackView = trackViewTemplate.cloneNode(true);
                            trackView.id = (trackViewIdCounter++).toString();
                            trackView.dataset.trackObject = JSON.stringify(track);
                            trackView.firstElementChild.style.backgroundColor = playlist.themeColor;

                            if (track.title) {
                                trackView.firstElementChild.textContent = track.title;
                            } else {
                                trackView.firstElementChild.textContent = track.path.slice(track.path.lastIndexOf("/") + 1, track.path.lastIndexOf("."));
                            }

                            trackView.addEventListener("click", (event) => {
                                audioController.src = `/musix/${track.path}`;
                            });
                            trackView.addEventListener("dragover", (event) => {
                                event.preventDefault();
                            });
                            trackView.addEventListener("drop", (event) => {
                                trackView.parentElement.insertBefore(document.getElementById(event.dataTransfer.getData("elementId")), trackView);
                            });
                            trackView.addEventListener("dragstart", (event) => {
                                event.dataTransfer.setData("elementId", trackView.id);
                            });


                            playlistView.children[1].appendChild(trackView);
                        }
                        playlistViewContainerFragment.appendChild(playlistView);
                    }

                    document.getElementById("playlistViewContainer").appendChild(playlistViewContainerFragment);
                });
        }

        function updatePlaylistDatabase() {
            if (confirm("This operation cannot be undone. Still wanna submit?")) {
                const playlists = [];

                const playlistViews = Array.from(document.querySelectorAll(".playlistView"));
                for (const playlistView of playlistViews) {
                    const playlist = {
                        name: playlistView.dataset.name,
                        themeColor: playlistView.dataset.themeColor,
                        tracks: []
                    };

                    const trackViews = playlistView.children[1].children;
                    for (const trackView of trackViews) {
                        const track = JSON.parse(trackView.dataset.trackObject);
                        playlist.tracks.push(track);
                    }

                    playlists.push(playlist);
                }

                fetch("/musix/playlists", {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        playlists: playlists
                    })
                })
                    .then(response => response.json())
                    .then(response => {
                        alert("Submission successful");
                    });
            }
        }
    </script>
</head>

<body onload="main();">
    <div id="playlistViewContainer"></div>
    <div id="controlsContainer">
        <button id="submitButton" onclick="updatePlaylistDatabase();">SAVE</button>
        <audio src="" controls="controls" autoplay="autoplay"></audio>
        <span>ColorBands&trade; By Assassino</span>
    </div>
</body>

<template id="templateContainer">
    <div class="playlistView" data-name="Playlist Name" data-theme-color="crimson">
        <div class="playlistInputContainer">
            <input type="text" placeholder="Playlist name" class="input" style="font-size: 150%;">
            <input type="text" placeholder="Theme color" class="input">
        </div>
        <div class="trackViewContainer">

        </div>
    </div>

    <div id="202" draggable="true" class="trackView" data-track-object=""><span>Track Name<span></div>
</template>

</html>